{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Giris Et</h3>
        <hr>
        <form method = "post">
            {% csrf_token %}
            
            {{form|crispy}}
            <div ><a href="/reset">Forgot Password?</a></div>
            <br>
            <button type = "submit" style ="margin-left:225px" class = "btn btn-primary">Giriş Et</button>
        </form>
    </div>
  </div>

{% endblock body %}
